body {
    background: url('../images/background_presentation.jpg') no-repeat;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: #1E9847;
}

h1.idci-logo {
    background-image: url('../images/logo_idci.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
}

.reveal .idci-green {
    color: #1E9847;
}

ul.motto li {
    font-size: 35px;
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

.reveal .presented-by {
    font-size: 18px;
}
